/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-oct-2015, 13:44:27
    Author     : user
*/

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

#game{
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}

.fail {
    color: red;
}

.correct {
    color: green;
}

#challengeExplain {
    color: gray;
    font-style: italic;
    font-size: 10pt;
}

#challengeCorrect {
    color: green;
}

.correct {
    color:green;
}